body{
	background-color: #FFFFFF;
}
.fullbody{
	margin-top: 0px;
}
.logo {
	width: 30px;
	float: left;
}
.tittleLogo{
	margin-left: 10px;
    line-height: 25px;
}
.separator{
	border: solid 2px;
    color: #d9edf7;
}
 #map {
  	height: 100%;
}
.footer{
	background: #E0E0E0; 
	text-align: center; 
	padding: 5px; 
    width: 100%;
    margin-top: 50px;
    font-size:11px;
    display:none;
}
.fa-user:before {
	margin-right:10px;
}
.form-login{
	margin-top:10px;
}
.form-login .form-group{
	padding-left: 10px;
	padding-right: 10px;
}
.form-login .login-button {
	position: absolute;
    right: 12px;
    top: 75%;
    background: #ffffff;
    color: #999999;
    padding: 11px 0;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    border: 5px solid #efefef;
    border-radius: 50%;
    transition: all ease-in-out 500ms;
}
.login-group-checkbox {
  padding: 5px 0;
}
.margin_top10{
    margin-top: 10px;
}
.margin_top30{
    margin-top: 28px;
}
.margin_bottom10{
    margin-bottom: 10px;
}
.margin_bottom30{
    margin-bottom: 30px;
}
.margin_left10{
    margin-left: 10px;
}
.margin_left30{
    margin-left: 30px;
}
.margin_left100{
    margin-left: 100px;
}
.right{
	float:right;
}
.dataHistorial{
	float:right;
	padding-right:10px;
}
.deleteFile{
	color:red;
	cursor:pointer;
}
.signedFile{
	cursor: pointer;
	color:green;
}
.infoSign{
	border: solid 1px;
    border-color: green;
    margin: 10px;
    padding: 10px;
}

.longText {
	white-space: pre-line;
	height: 200px;
    overflow-y: scroll;
}
.circunferencia{
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #5cb85c;     
  	text-align: center;  
  	vertical-align: middle;
  	padding-top: 36px;
  	font-size:20px;
	color: #FFFFFF;
}
.green{
	background: #449d44;	
}
.red{
	background: #d9534f;	
}
.yellow{
	background: #f0ad4e;	
}
.blue{
	background: #286090;	
}
#wrapper{
	display:block;
}