body{
	background-color: #FFFFFF;
}
.footer{
	background: #E0E0E0; 
	text-align: center; 
	padding: 5px; 
	position: fixed;
    width: 100%;
    bottom: 0;
}
.fa-user:before {
	margin-right:10px;
}
.form-login{
	margin-top:10px;
}
.form-login .form-group{
	padding-left: 10px;
	padding-right: 10px;
}
.form-login .login-button {
	position: absolute;
    right: 12px;
    top: 75%;
    background: #ffffff;
    color: #999999;
    padding: 11px 0;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    border: 5px solid #efefef;
    border-radius: 50%;
    transition: all ease-in-out 500ms;
}
.login-group-checkbox {
  padding: 5px 0;
}
.margin_top10{
    margin-top: 10px;
}
.margin_top30{
    margin-top: 30px;
}
.margin_bottom10{
    margin-bottom: 10px;
}
.margin_bottom30{
    margin-bottom: 30px;
}
.margin_left10{
    margin-left: 10px;
}
.margin_left30{
    margin-left: 30px;
}
.right{
	float:right;
}
.dataHistorial{
	float:right;
	padding-right:10px;
}
.deleteFile{
	color:red;
}